<h5 class="card-title">{{ formTitle }}</h5>
<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="mb-3">
    <label for="formTitle" class="form-label">Title</label>
    <input class="form-control" id="formTitle" matInput placeholder="Bar" type="text" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="formMenuId" class="form-label">Menu Id</label>
    <select class="form-control" id="formMenuId" matInput formControlName="menuId">
      <option *ngFor="let item of menus" value="{{item.$id}}">{{item.name}}</option>
    </select>
  </div>
  <button class="btn btn-primary float-end">Add</button>
</form>
