<div class="row">
  <div class="col-8">
    <app-table
      [headTable]="headTable"
      [dataTable]="dataTable"
      (editItemId)="editItemId($event)"
      (deleteItemId)="deleteItemId($event)"
    ></app-table>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <app-menus-form-add *ngIf="!isEditing" formTitle="Add Menu" [business]="business"></app-menus-form-add>
        <app-menus-form-edit
          formTitle="Edit Menu"
          *ngIf="isEditing"
          (closingForm)="closeEditForm($event)"
          [data]="dataItem"
          [business]="business"
        ></app-menus-form-edit>
      </div>
    </div>
  </div>
</div>


