
<div class="row">
  <div class="col-md-4 col-sm-12"></div>
  <div class="col-md-4 col-sm-12">
    <div class="card" style="width: 22rem; margin-left: 13.5%; margin-top: 30%">
      <div class="card-body">
        <h5 class="card-title">Login</h5>

        <form [formGroup]="loginForm" (ngSubmit)="save($event)">
          <div class="mb-3">
            <label for="formEmail" class="form-label">Email</label>
            <input class="form-control" id="formEmail" matInput placeholder="johndoe@gmail.com" type="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="formPassword" class="form-label">Password</label>
            <input class="form-control" id="formPassword" matInput type="password" formControlName="password">
          </div>
          <button class="btn btn-primary float-end">Log In</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12"></div>
</div>





