<h5 class="card-title">{{formTitle}}</h5>
<form [formGroup]="form" (ngSubmit)="save($event)">
  <div class="mb-3">
    <label for="formName" class="form-label">Name</label>
    <input class="form-control" id="formName" matInput [placeholder]="data?.name" [value]="data?.name" type="text" formControlName="name">
  </div>
  <button type="submit" class="btn btn-primary float-end">Update</button>
  <button class="btn btn-danger float-end" style="margin-right: 10px;" (click)="cancel()">Cancel</button>

</form>
